<div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-md-6 text-left">
      <h2>About</h2>
      <p>
        Hello! My name is Rickson Bozar, and I am currently studying Computer Programming and Analysis at Seneca College. 
        I have a strong passion for software development, and I enjoy learning new programming languages, working on challenging 
        projects, and improving my technical skills. My goal is to become a Software Developer in the future.
      </p>
      <div class="image-container">
        <img src="/images/programmer.png" class="img-fluid" alt="Programmer Image">
      </div>
    </div>

    <div class="col-md-6 text-right">
      <h2>Coming Soon</h2>
      <p>Stay tuned for more updates...</p>
    </div>
  </div>
</div>
