<div class="container" style="padding-top: 20px;">
  <form method="post" action="/categories/add">
    <fieldset>
      <legend>Add Category</legend>
      <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <input class="form-control" id="category" name="category" type="text" autofocus />
      </div>
    </fieldset>
    <hr />
    <button type="submit" class="btn btn-primary">Add Category</button>
  </form>
</div>
